.jumbotron {
    background-image: url('../Imagenes/mar4.webp');
    background-color: gray;
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

footer {
    background-image: url('Imagenes/playa2.jpg');
    background-color: yellow;
    margin-bottom: 0;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.card-videojuegos {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-comprar {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}