.jumbotron {
  background-image: url('../Imagenes/mar4.webp');
  background-color: #8f8c8c;
  margin-top: 0px;
  margin-bottom: 10px;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
footer {
  background-image: url('Imagenes/playa2.jpg');
  background-color: #e8f00e;
  margin-top: 10px;
  margin-bottom: 0px;
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
.card-videojuegos {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-comprar {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
  padding-top: 0px;
}
.tab-content {
  padding-right: 0px;
  padding-top: 10px;
}
