$yellow:#e8f00e;
$gray:#6d6f73;
$verde:#19f00e;
$rojo:#f00e0e;
@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
}

@mixin padding($right, $top) {
    padding-right: $right;
    padding-top: $top;
}

.jumbotron {
    background-image: url('../Imagenes/mar4.webp');
    background-color: $yellow;
    @include margenes(0px,
    10px);
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

footer {
    background-color: $yellow;
    @include margenes(10px,
    0px);
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.card-videojuegos {
    flex: 1 200px;
    @include margenes(10px,
    0px);
}

.btn-comprar {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    @include padding(10px,
    0px)
}

.tab-content {
    @include padding(0px,
    10px)
}