@yellow:#e8f00e;
@gray:#a38787;
@verde:#19f00e;
@rojo:#f00e0e;

.margenes(@top: 0px, @botton: 0px) {
    margin-top: @top;
    margin-bottom: @botton;
}

.padding(@right, @top) {
    padding-right: @right;
    padding-top: @top;
}

.jumbotron {
    background-image: url('../Imagenes/mar4.webp');
    background-color: @gray;
    .margenes(0px,10px);
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

footer {
    background-image: url('Imagenes/playa2.jpg');
    background-color: @yellow;
    .margenes(10px,0px);
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.card-videojuegos {
    flex: 1 200px;
    .margenes(10px,0px);
}

.btn-comprar {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    .padding(10px, 0px);
}

.tab-content {
    .padding(0px, 10px);
}